table.sortable {
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid black;
}

th{
    background-color: gray;
}

th.sortcol {
	cursor:pointer;
}

th.sortcol span.arrow::after {
	content: "\2195";
}

th.asc span.arrow::after {
	content: "\2191";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

th.desc span.arrow::after {
	content: "\2193";
    background-color: yellow;
    color: red;
    font-weight: bold;
}