body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}

div.container{
    display: flex;
}

div.container > div{
    padding: 10px;
    border-radius: 5px;
    background-color: #CFE8DC;
    border: 2px solid #4cb5de;
    flex: 1;
}
aside{
    flex: 1;
    order: 0;
}

article{
    flex: 3;
    order: 1;
    padding-left: 20px;
}

div.acknowledgment{
    font-size: x-small;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: gray;
}
header{
    margin-bottom: 10px;
}

footer{
    margin-top: 10px;
}

a {
    text-decoration: none;
}

@media (max-width:600px){
    div.container {display:block;}
    article {padding-left: 0px;}
}